.akar-utama{
    border-left: 4px solid rgb(0,123,255);
    border-right: 4px solid rgb(23,162,184);
    border-bottom: 4px solid grey;
    padding: 10px;
}
.akar-anak{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-top: 4px solid grey;
    padding: 10px;
}
.akar-kiri {
    padding: 10px;
    border-right: 2px solid grey;
}
.akar-kanan {
    padding: 10px;
    border-left: 2px solid grey;
}

.w20p {
    width: 20px;
}